<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJkamZTybGP1XRZdYQsaDhb6yB0IBeMnA</string>
	<key>GCM_SENDER_ID</key>
	<string>745833094851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vocaApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>voca-2ad05</string>
	<key>STORAGE_BUCKET</key>
	<string>voca-2ad05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745833094851:ios:77ae882c7d3112962f0c76</string>
	<key>DATABASE_URL</key>
	<string>https://voca-2ad05-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>